@model Volunteer

@{
    ViewData["Title"] = "VolunteerProfile";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Volunteer Profile</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="@Model.ProfileImageURL" alt="Image of interested volunteer" class="logo">
        </div>
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <td>@Model.SkillsAndExperience</td>
                </tr>
            </table>
        </div>
    </div>
</div>