@model JobListViewModel


<h1 class="jumbotron">Available Jobs</h1>
<div class="container padding my-container">
    <div class="table-responsive">
        <table class="table table-dark">
            @foreach (var j in @Model.JobListings)
            {
                <tr>
                    <td>@j.TypeOfJob</td>
                    <td>@j.Organization.CompanyName</td>
                    <td>@j.City, @j.State</td>
                    <td id="details">
                        @Html.ActionLink("Details", "Details", new { id = j.Id }, new { @class = "btn btn-primary" })
                        @{
                            if (User.IsInRole("Volunteer"))
                            {
                                <form method="post" asp-controller="Volunteer" asp-action="JoinJob" asp-route-Id="@j.Id">
                                    <input class="btn btn-primary mt-4" type="submit" value="Join Job" />
                                </form>
                            }
                        }
                        
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
