@model ICollection<JobListing>


<h1>JobList</h1>
<div>
    <table class="table table-bordered">
        <tr>
            <th>Type Of Job</th>
            <th>Date</th>
            <th>Description</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Positions Available</th>
        </tr>

        @foreach (var j in Model)
        {
            <tr>
                <td></td>
                <td>@j.Organization.</td>
                <td>@j.Date</td>
                <td>@j.Address</td>
                <td>@j.City</td>
                <td>@j.State</td>
                <td>@j.PositionsAvailable</td>
                <td id="details">
                    @Html.ActionLink("Details", "Details", new { id = j.Id })
                    @*<form asp-controller="Volunteer" asp-action="JobDetails" >
                        <input asp-for="j.Id"  type="submit" value="Details" />
                    </form>*@
                </td>

            </tr>
        }

    </table>
</div>
