@model ICollection<JobListing>

<h1>JobList</h1>
<div>
    <table class="table table-dark">
        <tr>
            <th>Type Of Job</th>
            <th>Date</th>
            <th>Description</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Positions Available</th>
        </tr>

        @foreach (var j in Model)
        {
            <tr>
                <td>@j.TypeOfJob</td>
                <td>@j.Date</td>
                <td>@j.Description</td>
                <td>@j.Address</td>
                <td>@j.City</td>
                <td>@j.State</td>
                <td>@j.PositionsAvailable</td>
            </tr>
        }

    </table>
</div>
