@model JobListViewModel


<h1>JobList</h1>
<div>
    <div class="table-responsive">
        <table class="table table-hover">
            @foreach (var j in @Model.JobListings)
            {
                <tr>
                    <td>@j.TypeOfJob</td>
                    <td>@j.Organization.CompanyName</td>
                    <td>@j.City, @j.State</td>
                    <td id="details">
                        @Html.ActionLink("Details", "Details", new { id = j.Id }, new { @class = "btn btn-primary" })
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
