
@model ICollection<JobListing>

<h1>Job Listings</h1>
<a class="btn btn-primary" asp-action="createJob" role="button">Create JobListing</a>
<div class="container">
    <table class="table-responsive table-dark">
        <tr>
            <th>Type Of Job</th>
            <th>Date</th>
            <th>Description</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>

        @foreach(var j in Model)
        {
        <tr>
            <td>@Html.ActionLink("Edit", "EditJob", new { id = j.Id }, new { @class = "btn btn-primary" })<br /><br /> @Html.ActionLink("Delete", "DeleteJob", new { id = j.Id }, new { @class = "btn btn-primary" })</td>
            <td>@j.TypeOfJob</td>
            <td>@j.Date</td>
            <td>@j.Description</td>
            <td>@j.Address</td>
            <td>@j.City</td>
            <td>@j.State</td>
            <td>@Html.ActionLink("View Interested Volunteers", "SignedVolunteers", new { id = j.Id }, new { @class = "btn btn-primary" })</td>


        </tr>
        }
        
    </table>
</div>


